@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Montserrat Regular";
    src: url('../public/fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: "Roboto Mono SemiBold";
    src: url('../public/fonts/RobotoMono-SemiBold.ttf');
}
@font-face{
    font-family: "Montserrat Bold";
    src: url('../public/fonts/Montserrat-Bold.ttf');
}
@font-face{
    font-family: "Roboto Mono Bold";
    src: url('../public/fonts/RobotoMono-Bold.ttf');
}

body{
    background: radial-gradient(circle at 28.2% 68.8%, rgb(30, 30, 30) 0%, rgb(0, 0, 0) 99.4%);
    overflow: scroll;
}

.purple-glow{
    text-shadow: 0px 0px 9px #581C87;
}

.glassmorphism{
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.picture-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: black;
    border-radius: 15px;
    box-shadow: 0 4px 30px #a78bfa;
}


@layer components{
/* apply tailwind classes by using @apply, otherwise use regular css */


/*********************************************** FILTERS FOR ICONS *****************************************/
.filter-violet-500{
    filter: invert(36%) sepia(19%) saturate(7089%) hue-rotate(239deg) brightness(102%) contrast(93%);
}
.filter-violet-600{
    filter: invert(36%) sepia(48%) saturate(2004%) hue-rotate(238deg) brightness(85%) contrast(124%);
}
.filter-fuchsia-400{
    filter: invert(58%) sepia(43%) saturate(640%) hue-rotate(242deg) brightness(99%) contrast(97%);
}
.filter-purple-800{
    filter: invert(11%) sepia(70%) saturate(5726%) hue-rotate(272deg) brightness(91%) contrast(89%);
}

}